::-webkit-scrollbar{
    width: 0;
    height: 0;
}
html,body,main{
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: scroll;
}
body,main,section{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
input[type='text']:focus{
    outline: none;
}
input[type='text']::placeholder{
    color: #666;
}
.flex{
    display: flex;
    display: -webkit-flex;
}
.flex.column{
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex.alicen{
    align-items: center;
    -webkit-align-items: center;
}
.flex.justcen{
    justify-content: center;
    -webkit-justify-content: center;
}
.flex.justbetween{
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.flex.justaround{
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.logo-wrap{
    position: relative;
    height: 52px;
    padding: 10px .5rem;
}
.logo-wrap > img{
    position: absolute;
    width: 142px;
    height: 52px;
    display: none;
}
.logo-wrap > img.active{
    display: block;
}
.card-wrap{
    height: calc(100% - 132px);
    width: 19rem;
    margin: auto;
    position: relative;
}
.ctrl-wrap{
    height: 60px;
}
.ctrl-wrap > a{
}

.card{
    display: none;
    position: absolute;
    margin: auto;
    width: 19rem;
    height: 100%;
    box-sizing: border-box;
    padding: .5rem 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.card.one{
    background-image: url(../images/style_1/bg.png);
}
.card.two{
    background-image: url(../images/style_2/bg.png);
}
.card.thre{
    background-image: url(../images/style_3/bg.png);
}
.card.four{
    background-image: url(../images/style_4/bg.png);
}
.card.active{
    display: block;
}
.input-area > input{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background: transparent;
}
.card > .word-area,
.card > .input-area{
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.card > .word-area{
    color: #935106;
    font-family: 'SourceHanSerif-10243bbe151be8b';
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    white-space: pre-wrap;
    font-size: 14px;
}

.card.one > .word-area{
    background-image: url(../images/style_1/block.png);
}
.card.two > .word-area{
    background-image: url(../images/style_2/block.png);
}
.card.thre > .word-area{
    background-image: url(../images/style_3/block.png);
}
.card.four > .word-area{
    margin-top: 2rem;
    height: 11rem;
    width: 13rem;
    padding: 2.5rem 3.5rem;
    background-image: url(../images/style_4/block.png);
}

.card > .input-area{
    width: 14rem;
    height: 2.425612rem;
    padding: 4px 10px;
    background-size: 14rem 2.425612rem;
    background-repeat: no-repeat;
}
.card.one > .input-area{
    background-image: url(../images/style_1/button.png);
}
.card.two > .input-area{
    background-image: url(../images/style_2/button.png);
}
.card.thre > .input-area{
    background-image: url(../images/style_3/button.png);
}
.card.four > .input-area{
    background-image: url(../images/style_4/button.png);
}

.preview-wrap{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #FFF;
    box-sizing: border-box;
    display: none;
}
.preview-wrap.active{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.preview-wrap > .preview{
    display: none;
}
.preview-wrap > .preview.active{
    display: block;
}
img.canvas-bg{
    display: none;
    width: 19rem;
}
canvas.mycan{
    display: none;
}
.remake-wrap{
    width: 100%;
    text-align: center;
}
.remake-wrap .separ{
    padding: 0 1rem 10px 1rem;
}
.remake-wrap .separ span{
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background: #EFC368;
}
.remake-wrap .separ p{
    margin: 0 20px;
    width: 100%;
    color: #AA7844;
    text-align: center;
}
.ctrl-btn{
    display: inline-block;
    width: 120px;
    height: 34px;
    background: url(../images/bg_btn_1.png);
    background-size: 120px 34px;
    background-repeat: no-repeat;
    line-height: 34px;
    color: #904e00;
    font-size: 16px;
    text-align: center;
}
a.music-ctrl{
    display: block;
    position: absolute;
    z-index: 99999;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background: url(../images/music_stop.png) no-repeat;
    background-size: 40px 40px;
}
a.music-ctrl.play{
    background-image: url(../images/music_play.png);
    animation: musicplay 2s infinite linear;
    -webkit-animation: musicplay 2s infinite linear;
}
@keyframes musicplay {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes musicplay {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}